<div class="container">
    <mat-toolbar>
        <span>Crear Usuario</span>
    </mat-toolbar>

    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    USUARIO
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5" [style.background]="'lightblue'">
                    IMG
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    NOMBRE
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    APELLIDO
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    SEXO
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'lightblue'">
                    BOTON DE VOLVER Y ACEPTAR
                </mat-grid-tile>
            </mat-grid-list>              
        </mat-card-content>
    </mat-card>  
</div>