<mat-toolbar color="primary">
    <span>Sistema Clinica | Consulta</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/consulta/mis-consultas">Mis Consultas</button>
    <span class="example-spacer"></span>
    <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button width heart icon">
        <mat-icon>logout</mat-icon>
    </button>
    <!-- <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button width heart icon">
        <mat-icon>logout</mat-icon>
    </button> -->
</mat-toolbar>
