<mat-toolbar color="primary">
    <span>Sistema Clinica | Admisión</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/general/areas">Áreas</button>
    <button mat-button routerLink="/general/cargos">Cargos</button>
    <button mat-button routerLink="/general/trabajadores">Trabajadores</button>
    <span class="example-spacer"></span>
    <button (click)="logout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button width heart icon">
        <mat-icon>logout</mat-icon>
    </button>
    <!-- <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button width heart icon">
        <mat-icon>logout</mat-icon>
    </button> -->
</mat-toolbar>
