<div class="container">
    <mat-toolbar>
        <span>Listado de Compras</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" (click)="goToPage('compras/nuevo')">Agregar</button>
    </mat-toolbar>
    <div class="mat-elevation-z8">
        <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese criterio de búsqueda" #input autocomplete="off">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container>
                <ng-container matColumnDef="serie">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> N° Serie </th>
                    <td mat-cell *matCellDef="let row"> {{row.serie}} </td>
                </ng-container>
                <ng-container matColumnDef="correlativo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Correlativo </th>
                    <td mat-cell *matCellDef="let row"> {{row.correlativo}} </td>
                </ng-container>
                <ng-container matColumnDef="tipo_pago">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de Pago </th>
                    <td mat-cell *matCellDef="let row"> {{row.tipo_pago}} </td>
                </ng-container>
                <ng-container matColumnDef="subtotal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtotal (S/.)</th>
                    <td mat-cell *matCellDef="let row"> {{row.subtotal}} </td>
                </ng-container>
                <ng-container matColumnDef="igv">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Igv (S/.)</th>
                    <td mat-cell *matCellDef="let row"> {{row.igv}} </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total (S/.)</th>
                    <td mat-cell *matCellDef="let row"> {{row.total}} </td>
                </ng-container>
                <ng-container matColumnDef="fecha_emision">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha_emision | date:'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/farmacia/compras/', element.id]">
                            <mat-icon class="btnDetail" matTooltip="Detalle">visibility</mat-icon>
                          </a>
                    </td>
                </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="7">No se encontraron resultados "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Select page of users"></mat-paginator>      
    </div>
</div>